body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5em;
    background-color: darkblue;
    color: lightblue;
    text-align: center;
}

input {
    background-color: darkblue;
    color: lightblue;
    border: 3px solid lightblue;
    font-size: 24pt;
}

button {
    font-size: 36pt;
    width: 65px;
    margin: 10px;
    background-color: lightblue;
    color: darkblue;
    cursor: pointer;
}