body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5em;
    background-color: darkblue;
    color: lightblue;
    text-align: center;
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: lightblue;
    color: darkblue;
    border: 3px solid darkblue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: white;
}

@media (max-width: 800px){
    .buttons {
        width: 100%;
    }
}