body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5em;
    background-color: darkblue;
    color: lightblue;
    text-align: center;
}

#myButton {
    font-size: 2em;
    padding: 5px 25px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    background-color: lightblue;
    color: darkblue;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
}

#rollStatement {
    font-size: 1.5em;
    background-color: lightblue;
    color: darkblue;
}

.myLabels {
    font-size: 1.5em;
}